.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}

.logo {
  max-width:40px;
  margin-top:-7px;
}

.longtext {
  height: 120px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}