<div class="d-flex flex-column align-items-start flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">Folders</span>
  </a>
  <hr>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="folderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Select Folder
    </a>
    <ul class="dropdown-menu" aria-labelledby="folderDropdown">
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Folder 1</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Key 1</a></li>
          <li><a class="dropdown-item" href="#">Key 2</a></li>
          <li><a class="dropdown-item" href="#">Key 3</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Folder 2</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Key 4</a></li>
          <li><a class="dropdown-item" href="#">Key 5</a></li>
          <li><a class="dropdown-item" href="#">Key 6</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Folder 3</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Key 7</a></li>
          <li><a class="dropdown-item" href="#">Key 8</a></li>
          <li><a class="dropdown-item" href="#">Key 9</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
